<!DOCTYPE html>
<html lang="en">
<head>
<title>drweb</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  backround-color: lightblue;
  
}

/* Style the header */
.header {
  background-color: #d9d9d9;
  padding: 10px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  margin-bottom:0;
  background-color: #f1f1f1;
  padding: 5px;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

.footer a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.footer a:hover {
  background-color: #aaa;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #00ccff;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #00ccff;
  color:white
}

.symform{
  margin:auto;
  border: 2px solid #00ccff;
  border-radius: 5px;
  width:700px;
  background-color:#66e0ff;
  padding: 20px;
}
</style>
</head>

<body style="background-color:lightblue">

<div class="topnav">
  <a href="HomePage.html">Home</a>
  <a href="Consult.html">Connect</a>
  <a href="#">Refill</a>
  <a href="FAQ.html">FAQs</a>
  <a href="login.html" style="float:right">Log In</a>
</div>

<div class="header" style="padding:5px">
<img src="logo2.png" style="float:left;margin-top:20px;margin-left:20px;height:100px; width:100px; border: 1px solid blue;border-radius:75px; padding:0px;"></img>
  <h1 style="font-size:40px;margin-right:113px">DocLine</h1>
  <p style="margin-right:110px">Your online medicenter for consultation, diagnosis and pharmacies.</p>

</div>
<BR><BR>

<div class="symform">
  <form>
    <h2 style="text-align:center">Connect</h2>
    <label for="loc">Enter the name of the city you reside in:</label>
    <input type="text" id="loc" name="loc" placeholder="Enter your city location..">
    <h3>Enter your most prominent/severe symptoms:</h3>
    <p>[Leave blank if options are more]</p><br>
    <label for="sym1">Select the area of discomfort</label>
    <select id="sym1" name="region">
      <option value="australia">Select..</option>
      <option value="australia">Head</option>
      <option value="canada">Dental</option>
      <option value="usa">Throat</option>
      <option value="usa">Neck</option>
      <option value="usa">Chest</option>
      <option value="usa">Back</option>
      <option value="usa">Stomach</option>
      <option value="usa">Hip</option>
      <option value="usa">Joint</option>
      <option value="usa">Leg</option>
      <option value="usa">Other</option>  
    </select>
    <input type="text" id="dsym1" name="desc1" placeholder="Describe the symptoms/feelings...">

    <label for="sym2">Select the area of discomfort</label>
    <select id="sym2" name="region">
      <option value="australia">Select..</option>
      <option value="australia">Head</option>
      <option value="canada">Dental</option>
      <option value="usa">Throat</option>
      <option value="usa">Neck</option>
      <option value="usa">Chest</option>
      <option value="usa">Back</option>
      <option value="usa">Stomach</option>
      <option value="usa">Hip</option>
      <option value="usa">Joint</option>
      <option value="usa">Leg</option>
      <option value="usa">Other</option>  
    </select>
    <input type="text" id="dsym2" name="desc2" placeholder="Describe the symptoms/feelings...">
    
    <label for="sym3">Select the area of discomfort</label>
    <select id="sym3" name="region">
      <option value="australia">Select..</option>
      <option value="australia">Head</option>
      <option value="canada">Dental</option>
      <option value="usa">Throat</option>
      <option value="usa">Neck</option>
      <option value="usa">Chest</option>
      <option value="usa">Back</option>
      <option value="usa">Stomach</option>
      <option value="usa">Hip</option>
      <option value="usa">Joint</option>
      <option value="usa">Leg</option>
      <option value="usa">Other</option>  
    </select>
    <input type="text" id="dsym3" name="desc3" placeholder="Describe the symptoms/feelings...">
  
    <input type="submit" value="Submit">
  </form>
</div>

<br><br>
<div class="footer">
<a href="Contact.html">Contact Us</a>
<a href="team.html" style="float:right;">About the team</a>
<p style="text-align: center;">DocLine</p>
</div>
</body>
</html>


