<!DOCTYPE html>
<html lang="en">
<head>
<title>drweb</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  backround-color: lightblue;
  
}

/* Style the header */
.header {
  background-color: #d9d9d9;
  padding: 10px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  margin-bottom:0;
  background-color: #f1f1f1;
  padding: 5px;
  overflow: hidden;
  background-color: #333
  text-align: center;
}

.footer a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.footer a:hover {
  background-color: #aaa;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #00ccff;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #00ccff;
  color:white
}

.symform{
  margin:auto;
  border: 2px solid #00ccff;
  border-radius: 5px;
  width:700px;
  background-color:#66e0ff;
  padding: 20px;
}
</style>
</head>

<body style="background-color:lightblue">

<div class="topnav">
  <a href="/">Home</a>
 
  <a href="/faq">FAQs</a>
  <a href="/login" style="float:right">Log In</a>
  
</div>

<div class="header" style="padding:5px">
<img src="logo2.png" style="float:left;margin-top:20px;margin-left:20px;height:100px; width:100px; border: 1px solid blue;border-radius:75px; padding:0px;"></img>
  <h1 style="font-size:40px;margin-right:113px">DocLine</h1>
  <p style="margin-right:110px">Your online medicenter for consultation, diagnosis and pharmacies.</p>

</div>
<BR><BR>

<div class="symform">
  <form method="POST" action="/auth/doc_signup">
    <h2 style="text-align:center">Register as a Doctor</h2>
    
    <input type="text" id="Name" name="name" placeholder="Enter Name...">
    <input type="text" id="email" name="email" placeholder="Enter an Email address...">
    <input type="text" id="ph" name="phone" placeholder="Enter a Phone Number...">
    <input type="text" id="cname" name="cname" placeholder="Enter Clinic Name...">
    <input type="text" id="addr" name="address" placeholder="Enter Clinic Address...">    
    <input type="text" id="loc" name="city" placeholder="Enter your city location..">
    
    <label for="sym2">Select the your specialisation</label>
    <select id="sym2" name="domain">
      <option value="select">Select..</option>
      <option value="Neuro">Neuro</option>
      <option value="Dental">Dental</option>
      <option value="ENT">ENT</option>
      <option value="Thoracic">Thoracic</option>
      <option value="Ortho">Orthopedics</option>
      <option value="Rad">Radiology</option>
      <option value="Gastro">Gastroenterology</option>
      <option value="Endo">Endocrinology</option>
      <option value="gp">General Practiotioner</option>  
    </select>
<br>
    <input type="text" id="pword" name="password_1" placeholder="Enter a password...">    
    <input type="text" id="pword2" name="password_2" placeholder="Confirm Password...">       
    
<input type="submit" value="Submit">
  </form>
  {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
</div>

<br><br>
<div class="footer">
<a href="/contact">Contact Us</a>
<a href="/team" style="float:right;">Our Team</a>
<p style="text-align: center;">DocLine</p>
</div>
</body>
</html>

