<!DOCTYPE html>
<html lang="en">
<head>
<title>drweb</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  backround-color: lightblue;
  
}

/* Style the header */
.header {
  background-color: #d9d9d9;
  padding: 10px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.footer {
  margin-bottom:0;
  background-color: #f1f1f1;
  padding: 5px;
  overflow: hidden;
  background-color: #333
  text-align: center;
}

.footer a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.footer a:hover {
  background-color: #aaa;
  color: white;
}

.row{
border: 10px solid lightblue;
border-radius; 30px;
background-color:white;
padding:10px;
}


</style>
</head>

<body style="background-color:lightblue">

<div class="topnav">
  <a href="HomePage.html">Home</a>
  <a href="Consult.html">Connect</a>
  <a href="#">Refill</a>
  <a href="FAQ.html">FAQs</a>
  <a href="login.html" style="float:right">Log In</a>
</div>

<div class="header" style="padding:5px">
<img src="logo2.png" style="float:left;margin-top:20px;margin-left:20px;height:100px; width:100px; border: 1px solid blue;border-radius:75px; padding:0px;"></img>
  <h1 style="font-size:40px;margin-right:113px">DocLine</h1>
  <p style="margin-right:110px">Your online medicenter for consultation, diagnosis and pharmacies.</p>

</div>

<div class="row">
<h3>Question</h3>
<p>Answer</p>
</div>
<div class="row">
<h3>Question</h3>
<p>Answer</p>
</div>
<div class="row">
<h3>Question</h3>
<p>Answer</p>
</div>
<div class="row">
<h3>Question</h3>
<p>Answer</p>
</div>
<div class="row">
<h3>Question</h3>
<p>Answer</p>
</div>
<div class="row">
<h3>Question</h3>
<p>Answer</p>
</div>

<br><br>
<div class="footer">
<a href="/contact">Contact Us</a>
<a href="/team" style="float:right;">Our Team</a>
<p style="text-align: center;">DocLine</p>
</div>

</body>
</html>


