<!DOCTYPE html>
<html lang="en">
<head>
<title>drweb</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  backround-color: lightblue;
  
}

/* Style the header */
.header {
  background-color: #d9d9d9;
  padding: 10px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #d9d9d9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #f2f2f2;;
  color: black;
}

.footer {
  
  margin-bottom:0;
  background-color: #f1f1f1;
  padding: 5px;
  overflow: hidden;
  background-color: #333
  text-align: center;
}

.footer a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.footer a:hover {
  background-color: #aaa;
  color: white;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  //border: 2px solid #00ccff;
  border-radius: 15px;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  padding:5px;
  display: table;
  clear: both;
}

.button:link, .button:visited {
  background-color: white;
  color: black;
  border: 2px solid #00ccff;
  border-radius: 200px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button:active 
{
  background-color: #00ccff;
  color: white;
}

</style>
</head>

<body style="background-color:lightblue">

<div class="topnav">
  <a href="/faq">FAQs</a>
  <a href="/login" style="float:right">Log In</a>
</div>

<div class="header" style="padding:5px">
<img src="logo2.png" style="float:left;margin-top:20px;margin-left:20px;height:100px; width:100px; border: 1px solid blue;border-radius:75px; padding:0px;"></img>
  <h1 style="font-size:40px;margin-right:113px">DocLine</h1>
  <p style="margin-right:110px">Your online medicenter for consultation, diagnosis and pharmacies.</p>

</div>


<h1 style="text-align:center">How are you planning to use DocLine?</h1>

<div class="row">
  <div class="column">
    <h2>As a Doctor</h2>
    <p>Diagnose patients, recommend medication and perform consultations Easily and Efficiently</p>
  <br><br><br>
    <a class="button" href="/doc_signup">Register as a Doctor</a>
  </div>
  
  <div class="column">
    <h2>As a Patient</h2>
    <p>Feeling under the weather? Need to consult a doctor? <br>Need a refill of your medicines? Do it all with our help!</p>
    <br><br><br>
  
    <a class="button" href="/cust_signup">Register as Patient</a>
  </div>
  
  <div class="column">
    <h2>As a Pharmacy</h2>
    <p>Easily sell medication without hassle!</p>
    <br><br><br><br>
    
    <a class="button" href="/store_signup">Register as Pharmacy</a>
  </div>
</div>

<br><br><br><br><br><br><br>
<div class="footer">

<a href="/contact">Contact Us</a>
<a href="/team" style="float:right;">Our Team</a>
<p style="text-align: center;">DocLine</p>

</div>

</body>
</html>

